<div id="choices">
    <label for="graphType">Graph Type:&nbsp;</label>
    <select id="graphType" [(ngModel)]="selectedGraphType" (ngModelChange)="changeChart1()">
      <option *ngFor="let graphType of graphTypes" [value]="graphType">{{ graphType | titlecase }}</option>
    </select>
    &nbsp;&nbsp;&nbsp; 
    &nbsp;&nbsp;&nbsp; 
    &nbsp;&nbsp;&nbsp; 
    &nbsp;&nbsp;&nbsp; 
    &nbsp;&nbsp;&nbsp; 
    &nbsp;&nbsp;&nbsp; 

    <label for="stockType">Stock:&nbsp;</label>
    <select id="stockType" [(ngModel)]="selectedStockType" (ngModelChange)="updateBothCharts()">
      <option *ngFor="let stockType of stockTypes" [value]="stockType">{{ stockType | uppercase }}</option>
    </select>
    &nbsp;&nbsp;&nbsp; 
    &nbsp;&nbsp;&nbsp; 
    &nbsp;&nbsp;&nbsp; 
    &nbsp;&nbsp;&nbsp; 
    &nbsp;&nbsp;&nbsp; 
    &nbsp;&nbsp;&nbsp; 

    <label>
      <input type="checkbox" [(ngModel)]="showSMA" (ngModelChange)="changeChart1()">
      SMA
    </label>    
    &nbsp;&nbsp;&nbsp;
    <label>
      <input type="checkbox" [(ngModel)]="showEMA" (ngModelChange)="changeChart1()">
      EMA
    </label>   
    &nbsp;&nbsp;&nbsp;
    <label>
      <input type="checkbox" [(ngModel)]="showBB" (ngModelChange)="changeChart1()">
      BB
    </label>  
    &nbsp;&nbsp;&nbsp; 
    &nbsp;&nbsp;&nbsp; 
    &nbsp;&nbsp;&nbsp; 
    &nbsp;&nbsp;&nbsp; 
    &nbsp;&nbsp;&nbsp; 
    &nbsp;&nbsp;&nbsp; 
    
    <label for="chart2Type">Secondary Chart:&nbsp;</label>
    <select id="chart2Type" [(ngModel)]="selectedChart2Type" (ngModelChange)="changeChart2()">
      <option *ngFor="let chart2Type of chart2Types" [value]="chart2Type">{{ chart2Type }}</option>
    </select>

</div>

<div style="text-align:center">
    <apx-chart
      [series]="chart1Options.series"
      [chart]="chart1Options.chart"
      [xaxis]="chart1Options.xaxis"
      [yaxis]="chart1Options.yaxis"
      [title]="chart1Options.title"
      [stroke]="chart1Options.stroke"
      [markers]="commonOptions.markers"
      [dataLabels]="chart1Options.dataLabels">
    </apx-chart>
    <apx-chart
      [series]="chart2Options.series"
      [chart]="chart2Options.chart"
      [xaxis]="chart2Options.xaxis"
      [yaxis]="chart2Options.yaxis"
      [title]="chart2Options.title"
      [markers]="commonOptions.markers"
      [dataLabels]="chart2Options.dataLabels"
      [annotations]="chart2Options.annotations">
    </apx-chart>
</div>
  