#choices {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 1em;
}

#add_details {
    text-align: center; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    font-family: Arial, sans-serif;
}

#add_details b {
    font-size: 1.1em;   
}

#add_details div {
    margin: 10px;
}

#add_details table {
    font-size: .9em;
    width: 100%;
    border-collapse: collapse;
}

#add_details th, #add_details td {
    padding: 4px;
    border: 1px solid black;
}

#add_details th {
    background-color: #d1d1d1;
    text-align: center;
    border: 1px solid black;
    padding: 4px 10px;
}

#add_details tr:nth-child(even) {
    background-color: #f9f9f9;
}


#options_choice {
    text-align: center; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    font-family: Arial, sans-serif;
}
